{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "extends": "airbnb",
  "plugins": [
    "html"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "no-new": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "max-len": 0,
    "no-debugger": 2,
    "react/wrap-multilines": 0,
    "import/extensions": 0,
    "react/prop-types": 0,
    "new-cap": 0,
    "react/jsx-no-bind": 0,
    "linebreak-style": 0,
    "import/no-named-as-default": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-string-refs": 0,
    "react/jsx-boolean-value": 0,
    "react/prefer-stateless-function": 0,
    "react/no-multi-comp": 0,
    "no-extend-native": 0,
    "no-return-assign": 0,
    "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"]
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
